* { margin:0; padding:0; line-height:2em;font-size:12px; font-family:Tahoma,Verdana,Î¢ÈíÑÅºÚ,ĞÂËÎÌå; }
body { width:982px; margin:0px auto; background:top center repeat-y; }
a{ color:blue; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
img{border:0;}
